[submodule "libs/tinyobjloader"]
	path = libs/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
